<div class="inner-content">
  <div class="content">

    <comp-page-header
      heading="Typography"
      subHeading="Template available typography and font styles"></comp-page-header>

    <div class="block">
      <div class="row">
        <div class="col">
          <comp-card title="Headings">
            <h1>Heading &lt;h1&gt; or using class <code>.h1</code></h1>
            <h2>Heading &lt;h2&gt; or using class <code>.h2</code></h2>
            <h3>Heading &lt;h3&gt; or using class <code>.h3</code></h3>
            <h4>Heading &lt;h4&gt; or using class <code>.h4</code></h4>
            <h5>Heading &lt;h5&gt; or using class <code>.h5</code></h5>
            <h6>Heading &lt;h6&gt; or using class <code>.h6</code></h6>
          </comp-card>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <comp-card title="Font Weights">
            <p class="fw-300">Font Weight 300 using class <code>.fw-300</code></p>
            <p class="fw-400">Font Weight 400 using class <code>.fw-400</code></p>
            <p class="fw-500">Font Weight 500 using class <code>.fw-500</code></p>
            <p class="fw-700">Font Weight 700 using class <code>.fw-700</code></p>
          </comp-card>
        </div>
      </div>
    </div>

    <div class="block">
      <comp-card title="Headings & Sub-Heading">
        <h3>Display Heading H3 <small class="text-muted">With small sub-heading</small></h3>
      </comp-card>
    </div>

    <div class="block">
      <comp-card title="Lead Text">
        <p class="lead">
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
      </comp-card>
    </div>

    <div class="block">
      <comp-card title="BlockQuote">
        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </comp-card>
    </div>

    <div class="block">
      <comp-card title="Text Colors">
        <p class="text-muted"><code>text-muted</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="text-primary"><code>text-primary</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="text-secondary"><code>text-secondary</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="text-info"><code>text-info</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="text-warning"><code>text-warning</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="text-danger"><code>text-danger</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="text-dark"><code>text-dark</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="bg-dark text-light"><code>text-light</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </comp-card>
    </div>
  </div>
</div>
