<div class="inner-content">
  <div class="content">

    <comp-page-header
      heading="Typography"
      subHeading="Template available typography and font styles"></comp-page-header>

    <div class="block">
      <div class="row">
        <div class="col">
          <comp-card title="Headings Light">
            <h1 class="fw-300">Heading H1</h1>
            <h2 class="fw-300">Heading H2</h2>
            <h3 class="fw-300">Heading H3</h3>
            <h4 class="fw-300">Heading H4</h4>
            <h5 class="fw-300">Heading H5</h5>
            <h6 class="fw-300">Heading H6</h6>
          </comp-card>
        </div>
        <div class="col">
          <comp-card title="Headings Regular">
            <h1 class="fw-400">Heading H1</h1>
            <h2 class="fw-400">Heading H2</h2>
            <h3 class="fw-400">Heading H3</h3>
            <h4 class="fw-400">Heading H4</h4>
            <h5 class="fw-400">Heading H5</h5>
            <h6 class="fw-400">Heading H6</h6>
          </comp-card>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <comp-card title="Headings Medium">
            <h1 class="fw-500">Heading H1</h1>
            <h2 class="fw-500">Heading H2</h2>
            <h3 class="fw-500">Heading H3</h3>
            <h4 class="fw-500">Heading H4</h4>
            <h5 class="fw-500">Heading H5</h5>
            <h6 class="fw-500">Heading H6</h6>
          </comp-card>
        </div>
        <div class="col">
          <comp-card title="Headings Bold">
            <h1 class="fw-700">Heading H1</h1>
            <h2 class="fw-700">Heading H2</h2>
            <h3 class="fw-700">Heading H3</h3>
            <h4 class="fw-700">Heading H4</h4>
            <h5 class="fw-700">Heading H5</h5>
            <h6 class="fw-700">Heading H6</h6>
          </comp-card>
        </div>
      </div>
    </div>
  </div>
</div>
