<div class="header-content">
  <div class="d-flex align-items-center">
    <button class="btn btn-sm btn-outline-primary mr-2 d-lg-none" (click)="toggleSidebar()">
      <i class="fa fa-fw fa-bars"></i>
    </button>
    <form class="d-none d-md-inline-block">
      <div class="input-group input-group-sm">
        <input
          type="text"
          class="form-control form-control-alt"
          placeholder="Search.."
         name="page-header-search"/>
        <div class="input-group-append">
          <span class="input-group-text bg-body border-0">
              <i class="fa fa-fw fa-search"></i>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex align-items-center">
    Heder Right
  </div>
</div>
