@import "reset";

// layout components
// layouts
@import "sidebar";
@import "header";
@import "main";
@import "footer";
@import "main-sidebar-layout";
// utility classes
@import "typography";
@import "responsive";


body {
  color: #2c2c2c;
  background-color: #edf0f2;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  &:hover {
    text-decoration: none;
  }
}
