<div class="inner-content">
  <div class="content">

    <comp-page-header
      heading="Components"
      subHeading="List of all available Components."></comp-page-header>

    <div class="block">
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            title="Registered Users"
            heading="696"
            subHeading="Users"
            icon="icon-people"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            title="Comments Per Day"
            heading="1054"
            subHeading="Comments"
            icon="icon-bubbles"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            title="Available Products"
            heading="1658"
            subHeading="Products"
            icon="icon-present"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            title="Orders Per Day"
            heading="674"
            subHeading="Orders"
            icon="icon-handbag"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="696"
            subHeading="Users"
            icon="icon-people"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1054"
            subHeading="Comments"
            icon="icon-bubbles"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1658"
            subHeading="Products"
            icon="icon-present"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="674"
            subHeading="Orders"
            icon="icon-handbag"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="696"
            subHeading="Users"
            icon="icon-people"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1054"
            subHeading="Comments"
            icon="icon-bubbles"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1658"
            subHeading="Products"
            icon="icon-present"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="674"
            subHeading="Orders"
            icon="icon-handbag"
          ></comp-card-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="696"
            subHeading="Users"></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1054"
            subHeading="Comments"></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1658"
            subHeading="Products"></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="674"
            subHeading="Orders"></comp-card-icon>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card class="text-center" title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card class="text-center" title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card class="text-center" title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card class="text-center" title="Card Component">
            <p class="mb-0">Card Component with title and some content.</p>
          </comp-card>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple class="text-center" title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple class="text-center" title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple class="text-center" title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-simple class="text-center" title="Simple Card Component">
            <p class="mb-0">Simple Card Component with title and some content.</p>
          </comp-card-simple>
        </div>
      </div>
    </div>

  </div>
</div>
