<div class="inner-content">
  <div class="content">

    <comp-page-header
      heading="Main Dashboard"
      subHeading="Welcome to Main Dashboard"></comp-page-header>

    <div class="block">
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <div class="block d-flex flex-column bg-white rounded p-3">
            <div class="flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="h2 font-weight-bold">32</dt>
                <dd class="text-muted mb-0">Pending Orders</dd>
              </dl>
              <div class="icon icon-4 rounded bg-light">
                <i class="fa fa-users text-primary h3 mb-0"></i>
              </div>
            </div>
            <hr>
            <div class="">
              <a class="d-flex align-items-center" href="#">
                View all orders
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="block d-flex flex-column bg-white rounded p-3">
            <div class="flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="h2 font-weight-bold">32</dt>
                <dd class="text-muted mb-0">Pending Orders</dd>
              </dl>
              <div class="icon icon-4 rounded bg-light">
                <i class="fa fa-gift text-primary h3 mb-0"></i>
              </div>
            </div>
            <hr>
            <div class="">
              <a class="d-flex align-items-center" href="#">
                View all orders
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="block d-flex flex-column bg-white rounded p-3">
            <div class="flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="h2 font-weight-bold">32</dt>
                <dd class="text-muted mb-0">Pending Orders</dd>
              </dl>
              <div class="icon icon-4 rounded bg-light">
                <i class="fa fa-heart text-primary h3 mb-0"></i>
              </div>
            </div>
            <hr>
            <div class="">
              <a class="d-flex align-items-center" href="#">
                View all orders
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="block d-flex flex-column bg-white rounded p-3">
            <div class="flex-grow-1 d-flex justify-content-between align-items-center">
              <dl class="mb-0">
                <dt class="h2 font-weight-bold">32</dt>
                <dd class="text-muted mb-0">Pending Orders</dd>
              </dl>
              <div class="icon icon-4 rounded bg-light">
                <i class="fa fa-thumbs-up text-primary h3 mb-0"></i>
              </div>
            </div>
            <hr>
            <div class="">
              <a class="d-flex align-items-center" href="#">
                View all orders
                <i class="fa fa-arrow-alt-circle-right ml-1 opacity-25 font-size-base"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
