<div class="inner-content">
  <div class="content">

    <comp-page-header
      heading="Main Dashboard"
      subHeading="Welcome to Main Dashboard"></comp-page-header>

    <div class="block">
      <div class="row">
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="696"
            subHeading="Users"
            icon="icon-people"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1054"
            subHeading="Comments"
            icon="icon-bubbles"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="1658"
            subHeading="Products"
            icon="icon-present"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
        <div class="col-sm-6 col-xl-3">
          <comp-card-icon
            heading="674"
            subHeading="Orders"
            icon="icon-handbag"
            [link]="cardLink"
          ></comp-card-icon>
        </div>
      </div>
    </div>

  </div>
</div>
