<div class="inner-content">
  <div class="content">

    <comp-page-header
      heading="Grids"
      subHeading="Template Grid System, row, column and offset etc."></comp-page-header>

    <div class="block">
      <comp-card-simple title="Grids">
        <div class="row mb-4">
          <div class="col-md-6">
            <comp-card>
              <p class="mb-0 text-center"><code>col-md-6</code></p>
            </comp-card>
          </div>
          <div class="col-md-6">
            <comp-card>
              <p class="mb-0 text-center"><code>col-md-6</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
        </div>
      </comp-card-simple>
    </div>

    <div class="block">
      <comp-card-simple title="No Gutters">
        <div class="row no-gutters mb-4">
          <div class="col-md-6">
            <comp-card>
              <p class="mb-0 text-center"><code>col-md-6</code></p>
            </comp-card>
          </div>
          <div class="col-md-6">
            <comp-card>
              <p class="mb-0 text-center"><code>col-md-6</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row no-gutters mb-4">
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row no-gutters mb-4">
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
          <div class="col-lg-3">
            <comp-card>
              <p class="mb-0 text-center"><code>col-lg-3</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-6 col-md-4 col-lg-2</code></p>
            </comp-card>
          </div>
        </div>
      </comp-card-simple>
    </div>

    <div class="block">
      <comp-card-simple title="Alignment">
        <div class="row justify-content-center mb-4">
          <div class="col-md-6">
            <comp-card>
              <p class="mb-0 text-center"><code>col-md-6</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row justify-content-start mb-4">
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row justify-content-end mb-4">
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row justify-content-around mb-4">
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        <div class="row justify-content-between mb-4">
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        <div class="bg-light">
          <div class="row mb-4" style="height: 159px;">
          <div class="col-sm-4 align-self-start">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4 align-self-center">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
          <div class="col-sm-4 align-self-end">
            <comp-card>
              <p class="mb-0 text-center"><code>col-sm-4</code></p>
            </comp-card>
          </div>
        </div>
        </div>
      </comp-card-simple>
    </div>

  </div>
</div>
